@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<ul class="nav nav-tabs" role="tablist">
    @{
        int tabCount = 1;
        foreach (var category in Model.Categories)
        {
            string status = (tabCount == 1) ? " active" : "";
            string selected = (tabCount == 1) ? "true" : "false";
            <li class="nav-item" role="presentation">
                <button class="@("nav-link" + status)" id="@("category" + category.Id + "-tab")" data-bs-toggle="tab" data-bs-target="@("#category" + category.Id)" type="button" role="tab" aria-controls="@("#category" + category.Id)" aria-selected="@selected">@category.Name</button>
            </li>
            tabCount++;
        }
    }
</ul>
<div class="tab-content">
    @{
        int tabContentCount = 1;
        foreach (var category in Model.Categories)
        {
            string status = (tabContentCount == 1) ? " show active" : "";

            <div class="@("tab-pane fade" + status)" id="@("category" + category.Id)" role="tabpanel" aria-labelledby="@("category" + category.Id + "-tab")">
                <div class="row mt-3">
                    @foreach (var tile in Model.GetTiles(category.Id))
                    {
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3 my-2" >
                            <div class="card h-100 bg-light">
                                <div class="row g-0">
                                    <div class="col-4 text-center align-self-center">
                                        <a href="@tile.Link"><img src="@Model.GetImageUrl(tile.Link)" height="32" width="32" /></a>
                                    </div>
                                    <div class="col-8">
                                        <div class="card-body">
                                            <h5 class="card-title"><a href="@tile.Link">@tile.Title</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            tabContentCount++;
        }
    }
</div>